@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Lalezar&family=Mada:wght@400;500&display=swap');
:root{
    --green: #yellowgreen
}
*{
    background-image: url(/img/backimage.png);
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transform: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 10rem;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    /* z-index:500; */
    align-items: center;
    display: flex;
    justify-content: start;
    padding: 3rem 10%;
    color: var(--green);
    
    /* color: yellowgreen; */
}
.header .logo {
    font-family: 'Lalezar', cursive;
    font-size: 3rem;
   
    color: seagreen;

}
.logo span{
    color: yellowgreen;

}
.header .navbar a{
    font-size: 1.7rem;
    margin: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Mada', sans-serif;

}
.header .navbar a:hover{
    color: seagreen;
}

 
.header #meanu-btn{
    display: none;
}
section{
    margin: 6%;
}
.row {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}
.postion{
    font-family: 'Mada', sans-serif;
    font-size: 28px;
    color: wheat;
    padding-top: 30px;
}
.component-wrapper {
    margin-left: auto;
    margin-right: auto;
    color: wheat;
    padding: 30px;
}
.section-title {
    color: wheat;
    font-size: 12px;
    margin-left: 12rem;
    margin-right: 12rem;
    position: absolute;
    left: 0;
    right: 0;
}
.container{
    width: 100%;
    height:  450px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.box{
    width: 300px;
    height: 350px;
    background-color: lawngreen;
    box-shadow: 1px 2px 10px rgb(255, 255, 255);
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    margin: 15px 15px;
}

.model{
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}

.description{
    column-count: 2;
    column-gap: 2.6vw;
    color: wheat;
    padding: 10px;
}

@media(max-width:600px) {
    html{
        font-size: 50%;  
    }
    .header{
        display: contents;
        align-items: center;
    }
    .header .logo {
        font-family: 'Lalezar', cursive;
        font-size: 2rem;
        display: block;
        padding: 0px;
    }
    .header .tabbar{
        position: fixed;
        top: 0; 
        right: 0;
        left: 0;
        /* z-index: 999; */
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem 9%;
        color: var(--green);
    }
    .header .navbar {
        position: absolute;
        top: 18%;
        left: 0;
        right: 0;
        border-top: 1px solid rgb(4, 214, 32) ;
        background-color: chartreuse;
        
       
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.action{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        display: block;
        font-size: 1.3rem;
        margin: 1rem;
        color: rgb(255, 255, 255);
        font-family: 'Cairo', sans-serif;
        background-color: chartreuse;
    }
    .header #meanu-btn{
        display: block;
        color: ivory;
    }
    #meanu-btn{
        cursor: pointer;
        font-size: 2.5rem;
        display: block;
    }
    #meanu-btn.fa-times{
        transform: rotate(180deg);
    }
}
